{% extends './layout.html' %}
{% block title %} admin {% endblock %}
{% block content %}
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		 	<a class="navbar-brand mr-auto" href="#">Up2CDN</a>
		 	<div class="navbar-text">
		      	{{ username }}
		    </div>
		</nav>

		<ul class="nav nav-tabs">
		  	<li class="nav-item">
		    	<a class="nav-link active" href="#">用户管理</a>
		  	</li>
		  	<li class="nav-item">
		    	<a class="nav-link" href="#">项目管理</a>
		  	</li>
		  
		</ul>

		<table class="table table-custom">
			<thead class="thead-dark">
			    <tr>
			      <th scope="col"></th>
			      <th scope="col">用户</th>
			      <th scope="col">创建时间</th>
			      <th scope="col">操作</th>
			    </tr>
			</thead>
			<tbody>
			    
			    {% for item in users %}
			  		<tr>
				      <th scope="row">{{ loop.index }}</th>
				      <td class="J-name">{{ item.username }}</td>
				      <td>{{ item.salt|date('Y-m-d H:i:s')}}</td>
				      <td>
				      {% if item.registered %}
				      	<span class="text-success">passed</span>
				      {% else %}
				      	<button type="button" class="btn btn-primary J-btn">pass</button>
				      {% endif %}
				      </td>
				    </tr>
				{% endfor %}
			</tbody>
		</table>
            
    <div>
    {% block script  %}
	<script type="text/javascript" src="/js/admin.js"></script>
    {% endblock  %} 
{% endblock %}