{% extends './layout.html' %}
{% block title %} index {% endblock %}
{% block content %}
    <div>
    	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		 	<a class="navbar-brand mr-auto" href="#">Up2CDN</a>
		 	<div class="navbar-text">
		      	{{ username }}
		    </div>
		</nav>
		<form id="form" enctype="multipart/form-data">
			<div class="project text-center">
				<label>选择项目</label>
		        <select id="project" name="project" class="custom-select">
		        {% for item in projects %}
				  	<option value="{{ item.id }}">{{ item.projectname }}</option>
				{% endfor %}
				</select>
			</div>

			<div class="text-center">
				<label class="custom-file">
				  	<input type="file" id="file" name="img" class="custom-file-input" >
				  	<span class="custom-file-control"></span>
				</label>
			</div>
		</form>
		{% if records %}
		<table class="table table-striped table-custom">
			<thead>
			    <tr>
			      <th scope="col"></th>
			      <th scope="col">文件</th>
			      <th scope="col">上传时间</th>
			      <th scope="col">上传地址</th>
			    </tr>
			</thead>
			<tbody>
			    {% for item in records %}
			  		<tr>
				      <th scope="row">{{ loop.index }}</th>
				      <td class="">{{ item.filename }}</td>
				      <td>{{ item.time|date('Y-m-d H:i:s')}}</td>
				      <td>{{ item.url }}</td>
				    </tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
    <div>
    {% block script  %}
	<script type="text/javascript" src="/js/index.js"></script>
    {% endblock  %} 
{% endblock %}