{% extends './layout.html' %}
{% block title %} 注册 {% endblock %}
{% block content %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	 	<a class="navbar-brand mr-auto" href="#">Up2CDN</a>
	 	<ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="/login">登录</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/register">注册</a>
	      </li>
	      
	    </ul>
	</nav>

	<form id="form" class="form border rounded" >
	  	<div class="form-group">
		    <label for="oaName">OA帐号</label>
		    <input type="text" class="form-control" name="oaName" id="oaName" placeholder="请输入oa用户名" maxlength="30" required="required">
	  	</div>
	  	<div class="form-group">
		    <label for="password">密码</label>
		    <input type="password" class="form-control" name="password" id="password" placeholder="Password" maxlength="30" required="required">
	  	</div>
	  	<div class="form-group">
		    <label for="confirmPassword">确认密码</label>
		    <input type="password" class="form-control" id="confirmPassword" placeholder="Password" maxlength="30" required="required">
	  	</div>
	  
	  	<button id="submit" type="button" class="btn btn-primary btn-block">注册</button>
	</form>

	{% block script  %}
	<script type="text/javascript" src="/js/register.js"></script>
    {% endblock  %} 

{% endblock %}
